{% extends "skeleton.html" %}
{% block content %}
<div class="deleteForm">
    <p>Are you sure you want to delete the movie?</p>
    <form method="POST" action="" class="form">
        {% for field in form %}
            <div class="field">
                {% if field.name ==  'movieid' %}
                    {{ field(value=movieid) }}
                {% else %}
                    {{ field }}
                {% endif %}
            </div>
        {% endfor %}
        <div class="field">
            <button type="submit" id="submit">Yes</button>
        </div>
    </form>
    <a href="{{ url_for('user_page') }}">No</a>
</div>
{% endblock %}
{% block categoryNavigation %}
    {{ super() }}
{% endblock %}